/* Page body styles */
body {
    margin:0; /* Remove the default page margin */
    /*background:#eee;*/
}
* {
    font-family:-apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
    line-height:1.75em;
	text-align: center;
	padding: 0 15px 0 15px;
	margin-top: 2e,;
}
a:link {
	text-decoration: none;
	color:#777777;
}
a:visited {
	text-decoration: none;
	color:#777777;
}
a:hover {
	text-decoration: none;
	color:#000;
}
a:active {
	text-decoration: none;
	color:#777777;
}