.col-xs-5-12,
.col-sm-5-12,
.col-md-5-12,
.col-lg-5-12 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-5-12 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-5-12 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-5-12 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-5-12 {
    width: 20%;
    float: left;
  }
}
.realColumn {
  /* height: 50px;*/
  margin: 20px;
}

a:link {
  text-decoration: none;
  color:#777777;
}

a:visited {
  text-decoration: none;
  color:#777777;
}

a:hover {
  text-decoration: none;
  color:#777777;
}

a:active {
  text-decoration: none;
  color:#777777;
}

div {
  line-height: 1.65;